{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GESTOR DE GASTOS</title>
    <link rel="stylesheet" type="text/css" href="{% static "assets/styles.css" %}">
</head>
<body>
    
    {% block content %}  
    {% endblock %}
    <div class="loader">
    </div>
    
    <!-- Incluir Chart.js desde un CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <!--BOOTSTRAP -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!--MAIN JS-->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>